<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading">Dodaj novo jelo</h1>
      <rip-meal-form [meal]="meal" [formType]="'CREATE'"></rip-meal-form>
    </div>
  </div>
</div>
