<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="main-heading">Registriraj se!</h1>

      <form [formGroup]="signup" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-container">
          <input matInput formControlName="username" placeholder="Username" required>
          <mat-error *ngIf="f.username.invalid">
            <mat-error *ngIf="f.username.touched && f.username.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.username.touched && f.username.errors.pattern">
              {{ validation.usernamePatternMessage}}
            </mat-error>
            <mat-error *ngIf="f.username.touched && f.username.errors.minlength">
              {{ validation.minLengthMessage}} {{ validation.usernameMinLength}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="firstName" placeholder="Ime" required>
          <mat-error *ngIf="f.firstName.invalid">
            <mat-error *ngIf="f.firstName.touched && f.firstName.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.firstName.touched && f.firstName.errors.pattern">
              {{ validation.namePatternMessage}}
            </mat-error>
            <mat-error *ngIf="f.firstName.touched && f.firstName.errors.minlength">
              {{ validation.minLengthMessage}} {{ validation.nameMinLength}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="lastName" placeholder="Prezime" required>
          <mat-error *ngIf="f.lastName.invalid">
            <mat-error *ngIf="f.lastName.touched && f.lastName.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.lastName.touched && f.lastName.errors.pattern">
              {{ validation.surnamePatternMessage}}
            </mat-error>
            <mat-error *ngIf="f.lastName.touched && f.lastName.errors.minlength">
              {{ validation.minLengthMessage}} {{ validation.surnameMinLength}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-10">
                <mat-form-field class="example-container">
                  <input matInput formControlName="address" placeholder="Adresa" required>
                  <mat-error *ngIf="f.address.invalid">
                    <mat-error *ngIf="f.address.touched && f.address.errors.required">
                      {{ validation.required}}
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-2">
                <button type="button" mat-button color="primary" (click)="setCenter()">Provjeri</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div id="map" class="map"></div>
          </div>
        </div>

        <mat-form-field class="example-container">
          <input type="password" matInput formControlName="password" placeholder="Lozinka" required>
          <mat-error *ngIf="f.password.invalid">
            <mat-error *ngIf="f.password.touched && f.password.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.password.touched && f.password.errors.minlength">
              {{ validation.minLengthMessage}} {{validation.passwordMinLength}}
            </mat-error>
            <mat-error *ngIf="f.password.touched && f.password.errors.pattern">
              {{ validation.passwordPattern}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-container">
          <input type="email" matInput formControlName="email" placeholder="E-mail" required>
          <mat-error *ngIf="f.email.invalid">
            <mat-error *ngIf="f.email.touched && f.email.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.email.touched && f.email.errors.pattern">
              {{ validation.emailPattern}}
            </mat-error>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-container">
          <input type="tel" matInput formControlName="phoneNumber" placeholder="Telephone" required>
          <span matPrefix>+385 &nbsp;</span>
          <mat-error *ngIf="f.phoneNumber.invalid">
            <mat-error *ngIf="f.phoneNumber.touched && f.phoneNumber.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.phoneNumber.touched && f.phoneNumber.errors.minlength">
              {{ validation.minLengthMessage}} {{ validation.phoneNumberMinLength}}
            </mat-error>
            <mat-error *ngIf="f.phoneNumber.touched && f.phoneNumber.errors.pattern">
              {{ validation.phoneNumberPatternMessage}}
            </mat-error>
          </mat-error>
        </mat-form-field>


        <div class="example-container">
          <button mat-button type="submit" color="primary"><span style="font-weight: bold;">REGISTRIRAJ ME</span>
          </button>
        </div>
      </form>
      <div *ngIf="errorMessages.length > 0" class="mat-error" role="alert">
        <span *ngFor="let error of errorMessages">{{error}}</span>
      </div>

    </div>
  </div>
</div>
