<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading">Uredi korisnika</h1>
      <form *ngIf="user" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-container">
          <input matInput formControlName="username" placeholder="Username" required>
          <mat-error *ngIf="f.username.invalid">
            <mat-error *ngIf="f.username.touched && f.username.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.username.touched && f.username.errors.pattern">
              {{ validation.usernamePatternMessage}}
            </mat-error>
            <mat-error *ngIf="f.username.touched && f.username.errors.minlength">
              {{ validation.minLengthMessage}} {{ validation.usernameMinLength}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="role" placeholder="Vrsta korisnika">
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="firstName" placeholder="Ime">
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="lastName" placeholder="Prezime">
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="address" placeholder="Adresa">
        </mat-form-field>


        <mat-form-field class="example-container">
          <input type="email" matInput formControlName="email" placeholder="E-mail" required>
          <mat-error *ngIf="f.email.invalid">
            <mat-error *ngIf="f.email.touched && f.email.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.email.touched && f.email.errors.pattern">
              {{ validation.emailPattern}}
            </mat-error>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-container">
          <input type="tel" matInput formControlName="phoneNumber" placeholder="Telephone">
          <span matPrefix>+385 &nbsp;</span>
        </mat-form-field>

        <mat-form-field class="example-container">
          <input type="tel" matInput formControlName="points" placeholder="Bodovi">
        </mat-form-field>


        <div class="example-container">
          <button mat-button type="submit" color="primary"><span style="font-weight: bold;">SPREMI PROMJENE</span>
          </button>
        </div>
      </form>
      <div *ngIf="errorMessages.length > 0" class="mat-error" role="alert">
        <span *ngFor="let error of errorMessages">{{error}}</span>
      </div>
    </div>
  </div>
</div>
