<div class="container">
  <div *ngIf="!userType" class="row">
    <div class="offset-md-7">
      <span>Akcija:</span>
      <button mat-icon-button
              color="primary"
              aria-label="Dodaj"
              matTooltip="Dodaj novo jelo"
              [matTooltipPosition]="'above'"
              (click)="createMeal()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <ngx-datatable class="material"
                     #ordersTable
                     [rows]="rows"
                     [groupRowsBy]="'type'"
                     [columnMode]="'flex'"
                     [headerHeight]="40" [rowHeight]="'auto'" [footerHeight]="'auto'"
                     [messages]="messages"
                     [groupExpansionDefault]="true">
        <ngx-datatable-group-header #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div style="padding-left: 15px;">
              <b>{{group.value[0].type}}</b>
            </div>
          </ng-template>
        </ngx-datatable-group-header>
        <ngx-datatable-column prop="name" name="Naziv" [sortable]="false" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column prop="type" name="Vrsta hrane" [sortable]="false" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column prop="price" name="Cijena" [sortable]="false" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
          [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <div *ngIf="userType;else adminButton">
              <button mat-raised-button color="accent" (click)="addToBucket(row)">Dodaj</button>
            </div>
            <ng-template #adminButton>
              <div class="example-button-row">
                <button mat-icon-button
                        color="primary"
                        aria-label="Izbriši"
                        matTooltip="Izbriši"
                        [matTooltipPosition]="'above'"
                        (click)="deleteMeal(row)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <button mat-icon-button
                        color="accent"
                        aria-label="Uredi"
                        matTooltip="Uredi"
                        [matTooltipPosition]="'above'"
                        (click)="editMeal(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </ng-template>
          </ng-template>

        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class="col-md-4" *ngIf="order.length !== 0">
      <h4>Vaša narudžba</h4>
      <table class="table table-responsive">
        <thead>
        <tr>
          <th>Vrsta pizze</th>
          <th>Veličina</th>
          <th>Iznos</th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let meal of order; let i = index">
        <td>
          {{meal.name}}
        </td>
        <td>
          {{meal.type}}
        </td>
        <td>
          {{meal.price}}
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="deleteFromBucket(i)">Obriši</button>
        </td>
        </tbody>
        <tfoot>
        <tr>
          <td [colSpan]="4">
            <form [formGroup]="deliveryForm">
              <mat-form-field class="example-container">
                <mat-label>Odaberi dostavljača</mat-label>
                <mat-select formControlName="deliveryCompany" placeholder="Odaberite...">
                  <mat-option *ngFor="let company of deliveryCompanies" (click)="changedDelivery(company)" [value]="company.id">
                    {{ company.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="f.deliveryCompany.invalid">
                  <mat-error *ngIf="f.deliveryCompany.touched && f.deliveryCompany.errors.required">
                    {{ validation.required}}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </form>
          </td>
        </tr>
        <tr *ngIf="deliveryCompany">
          <td [colSpan]="4">Vrijeme dostave: {{deliveryCompany.totalTime}} min</td>
        </tr>
        <tr *ngIf="deliveryCompany">
          <td [colSpan]="4">Cijena dostave: {{deliveryCompany.totalPrice}} kn</td>
        </tr>
        <tr>
          <td [colSpan]="4">Trenutni bodovi: {{user.points}}</td>
        </tr>
        <tr>
          <td [colSpan]="4">Iskoristi 50 bonus bodova za 20% popusta</td>
        </tr>
        <tr>
          <td [colSpan]="4">
            <mat-checkbox (change)="OnChange($event)"
                          (indeterminateChange)="OnIndeterminateChange($event)"
                          [(checked)]="IsChecked"
                          [(indeterminate)]="IsIndeterminate"
                          [labelPosition]="LabelAlign"
                          [disabled]="user.points < 50"
                          matTooltip="Na svakih 50 potrošenih kuna dobivas 5 bodova :)"
                          [matTooltipPosition]="'above'">Iskoristi popust
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Ukupno:</td>
          <td>{{totalAmount}} KN</td>
          <td>
            <button mat-raised-button color="primary" (click)="clearBucket()">Obriši sve</button>
          </td>
          <td>
            <button mat-raised-button color="accent" (click)="makeOrder()">NARUČI</button>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
