table {
  width: 100%;
}

modal-centered {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.modal-centered > .modal-content {
  display: table-cell !important;
  vertical-align: middle;
  background: transparent;
}

.modal-centered > .modal-content > * {
  pointer-events: auto;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
