<div class="background">
  <div class="container demo-bg">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-4">
        <div class="business-hours">
          <h2 class="title">Opening Hours</h2>
          <ul class="list-unstyled opening-hours">
            <li *ngFor="let d of workingHours"
                [ngStyle]="{'background-color':d === todayDay ? 'yellow'
                 : 'none','color':d === todayDay ? 'black' : 'white'}">
              {{ d.day.toLocaleString()}} {{d.time}}
              <span *ngIf="isOpen && d === todayDay">OPEN</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
</div>
