<div style="overflow: hidden">
  <button mat-icon-button
          class="right"
          color="primary"
          aria-label="Dodaj novu dostavljačkog partnera"
          matTooltip="Dodaj novu dostavljačkog partnera"
          [matTooltipPosition]="'above'"
          (click)="createDeliveryCompany()">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>

<ngx-datatable
  class="material fullscreen"
  [columnMode]="ColumnMode.flex"
  [headerHeight]="'auto'"
  [footerHeight]="'auto'"
  [rowHeight]="'auto'"
  [rows]="rows"
>
  <ngx-datatable-column prop="id" name="Id" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="name" name="Name" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="price" name="Cijena dostave(/km)" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="time" name="Vrijeme dostave(/km)" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false"
    [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
      <button
              mat-icon-button
              color="primary"
              aria-label="Izbriši"
              matTooltip="Izbriši"
              [matTooltipPosition]="'above'"
              (click)="deleteCompany(row)">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-icon-button
              color="accent"
              aria-label="Uredi"
              matTooltip="Uredi"
              [matTooltipPosition]="'above'"
              (click)="editCompany(row)">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
