<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding"><img [src]="logo"/> <span>Rip Online</span> <span *ngIf="userType==='ROLE_ADMIN'">Admin</span>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">

    <div class="toolbar">
      <mat-toolbar color="primary">
        <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <span routerLink="" class="branding spacer center d-inline d-sm-none">
          <img [src]="logo"/> <span *ngIf="userType==='ROLE_ADMIN'">ADMIN</span></span>
        <span routerLink=""
              class="branding spacer center d-none d-sm-inline d-md-none"><img
          [src]="logo"/>Rip Online <span *ngIf="userType==='ROLE_ADMIN'">ADMIN</span></span>
        <span routerLink="" class="branding spacer d-none d-md-inline"><img
          [src]="logo"/> Rip Online Ordering <span *ngIf="userType==='ROLE_ADMIN'">ADMIN</span></span>

        <span class="d-none d-md-inline">
          <button mat-button class="nav-button" *ngFor="let item of navigation"
                  [routerLink]="[item.link]" routerLinkActive="active">
            {{item.label}}
          </button>
        </span>

        <button mat-button class="sign-in-button "
                *ngIf="!isAuthenticated"
                (click)="onLoginClick()">
          Prijava
        </button>

        <button *ngIf="isAuthenticated"
                mat-icon-button
                [matMenuTriggerFor]="toolbarUserMenu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onDetailsClick()">
            <mat-icon>account_circle</mat-icon>
            <span>Moj korisnički račun</span>
          </button>
          <button *ngIf="userType==='ROLE_USER'" mat-menu-item (click)="onMyPreviousOrdersClick()">
            <mat-icon>fastfood</mat-icon>
            <span>Moje narudžbe</span>
          </button>
          <button *ngIf="userType==='ROLE_ADMIN'" mat-menu-item (click)="onUsersClick()">
            <mat-icon>supervised_user_circle</mat-icon>
            <span>Korisnici</span>
          </button>
          <button *ngIf="userType==='ROLE_ADMIN'" mat-menu-item (click)="onDeliveriesClick()">
            <mat-icon>bike_scooter</mat-icon>
            <span>Dostavljači</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Odjava</span>
          </button>
        </mat-menu>


      </mat-toolbar>
    </div>

    <div class="content"
         [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://www.facebook.com/nogometniklubSlunj1937/"
             target="_blank">
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
            <span>Facebook</span>
          </a>

          <a href="https://www.youtube.com/channel/UCFxDIGc1OfS9SF4qID6URbw"
             target="_blank">
            <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
            <span>Youtube</span>
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            <span>Instagram</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; <span class="year">{{year}}</span> - Igor Kos
          <br class="d-block d-sm-none">

        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>
