<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading">Dodaj novog dostavljača</h1>
      <form *ngIf="company"[formGroup]="editForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-container">
          <input matInput formControlName="name" placeholder="Ime kompanije" required>
          <mat-error *ngIf="f.name.invalid">
            <mat-error *ngIf="f.name.touched && f.name.errors.required">
              {{ validation.required}}
            </mat-error>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-container">
          <input matInput formControlName="price" placeholder="Cijena(/km)">
          <mat-error *ngIf="f.price.invalid">
            <mat-error *ngIf="f.price.touched && f.price.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.price.touched && f.price.errors.pattern">
              {{ validation.numberPattern}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="time" placeholder="Vrijeme dostave(/km)">
          <mat-error *ngIf="f.time.invalid">
            <mat-error *ngIf="f.time.touched && f.time.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.time.touched && f.time.errors.pattern">
              {{ validation.numberPattern}
            </mat-error>
          </mat-error>
        </mat-form-field>


        <div class="example-container">
          <button mat-button type="submit" color="primary"><span style="font-weight: bold;">SPREMI</span>
          </button>
        </div>
      </form>
      <div *ngIf="errorMessages.length > 0" class="mat-error" role="alert">
        <span *ngFor="let error of errorMessages">{{error}}</span>
      </div>
    </div>
  </div>
</div>
