<div class="container">
  <div class="row">
    <div class="col-12">
      <ngx-datatable class="material"
                     #ordersTable
                     [rows]="rows"
                     [columnMode]="'flex'"
                     [headerHeight]="40" [rowHeight]="'auto'" [footerHeight]="40"
                     [messages]="messages">
        <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="uuid" name="ID narudžbe" [sortable]="false" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column prop="createdAt" name="Vrijeme narudžbe" [sortable]="false" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: dateTimeFormat}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="price" name="Ukupan iznos" [sortable]="false" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}} KN
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="discount" name="Popust" [sortable]="false" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngIf="value; else noDiscount">&#10004;</span>
          </ng-template>
          <ng-template #noDiscount>
            <span>&#10008;</span>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
          <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div>
              <table class="table">
                <thead>
                <tr>
                  <th>Naziv jela</th>
                  <th>Vrsta jela</th>
                  <th>Cijena jela</th>
                </tr>
                </thead>
                <tbody *ngFor="let meal of row.orderItems">
                <td>
                  {{meal.name}}
                </td>
                <td>
                  {{meal.type}}
                </td>
                <td>
                  {{meal.price}}
                </td>
                </tbody>
                <tfoot>
                <tr>
                  <td [colSpan]="3">
                    <hr>
                  </td>
                </tr>
                <tr>
                  <td [colSpan]="3">Vrijeme dostave: {{row.deliveryTime}} min</td>
                </tr>
                <tr>
                  <td [colSpan]="3">Cijena dostave: {{row.deliveryPrice}} kn</td>
                </tr>
                </tfoot>
              </table>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>
      </ngx-datatable>
    </div>
  </div>
</div>
