<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading">Uređivanje postojećeg jela</h1>
      <rip-meal-form [meal]="meal" [formType]="'EDIT'" *ngIf="meal"></rip-meal-form>
    </div>
  </div>
</div>
