<div style="overflow: hidden">
  <button mat-icon-button
          class="right"
          color="primary"
          aria-label="Stvori korisnika"
          matTooltip="Stvori korisnika"
          [matTooltipPosition]="'above'"
          (click)="createUser()">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>

<ngx-datatable
  class="material fullscreen"
  [columnMode]="ColumnMode.flex"
  [headerHeight]="'auto'"
  [footerHeight]="'auto'"
  [rowHeight]="'auto'"
  [rows]="rows"
>
  <ngx-datatable-column prop="id" name="Id" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="username" name="Username" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="firstName" name="First Name" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="lastName" name="Last Name" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="email" name="Email" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="role" name="Role" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="points" name="Points" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false"
    [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
      <button *ngIf="row.role != 'ROLE_USER'"
              mat-icon-button
              color="primary"
              aria-label="Izbriši"
              matTooltip="Izbriši"
              [matTooltipPosition]="'above'"
              (click)="deleteUser(row)">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-icon-button
              color="accent"
              aria-label="Uredi"
              matTooltip="Uredi"
              [matTooltipPosition]="'above'"
              (click)="editUser(row)">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

