<nav mat-tab-nav-bar>
  <a mat-tab-link
     class="d-none d-md-inline-flex"
     *ngFor="let s of selection"
     [routerLink]="s.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{s.label}}
  </a>
  <span class="nav-responsive d-md-none"
        *ngFor="let s of selection"
        [routerLink]="s.link"
        routerLinkActive #rla="routerLinkActive"
        [matMenuTriggerFor]="examplesMenu">
    <a *ngIf="rla.isActive"
       mat-tab-link>
      <mat-icon>menu</mat-icon> {{s.label}}
    </a>
  </span>
</nav>
<mat-menu #examplesMenu="matMenu" [overlapTrigger]="false" class="nav-responsive-overlay">
  <button mat-menu-item
          *ngFor="let s of selection"
          [routerLink]="s.link"
          routerLinkActive="active">
    {{s.label}}
  </button>
</mat-menu>


<div [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</div>
