<form *ngIf="mealForm" [formGroup]="mealForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-container">
    <input matInput formControlName="name" placeholder="Naziv jela" required>
    <mat-error *ngIf="f.name.invalid">
      <mat-error *ngIf="f.name.touched && f.name.errors.required">
        {{ validation.required}}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-container">
    <mat-label>Vrsta jela</mat-label>
    <mat-select formControlName="type" placeholder="Odaberite...">
      <mat-option *ngFor="let mealType of mealTypes" [value]="mealType">
        {{ mealType }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="f.type.invalid">
      <mat-error *ngIf="f.type.touched && f.type.errors.required">
        {{ validation.required}}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-container">
    <input matInput formControlName="price" placeholder="Cijena" required>
    <mat-error *ngIf="f.price.invalid">
      <mat-error *ngIf="f.price.touched && f.price.errors.required">
        {{ validation.required}}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <div class="example-container">
    <button mat-button type="submit" color="primary"><span style="font-weight: bold;">SPREMI PROMJENE</span>
    </button>
  </div>
</form>

<div *ngIf="errorMessages.length > 0" class="mat-error" role="alert">
  <span *ngFor="let error of errorMessages">{{error}}</span>
</div>
