<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading">Dodaj novog korisnika</h1>
      <form [formGroup]="create" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-container">
          <input matInput formControlName="username" placeholder="Username" required>
          <mat-error *ngIf="f.username.invalid">
            <mat-error *ngIf="f.username.touched && f.username.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.username.touched && f.username.errors.pattern">
              {{ validation.usernamePatternMessage}}
            </mat-error>
            <mat-error *ngIf="f.username.touched && f.username.errors.minlength">
              {{ validation.minLengthMessage}} {{ validation.usernameMinLength}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-container">
          <mat-label>Vrsta korisnika</mat-label>
          <mat-select formControlName="role" placeholder="Odaberite...">
            <mat-option *ngFor="let roleType of roles" [value]="roleType.id">
              {{ roleType.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="f.role.invalid">
            <mat-error *ngIf="f.role.touched && f.role.errors.required">
              {{ validation.required}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="firstName" placeholder="Ime">
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="lastName" placeholder="Prezime">
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput formControlName="address" placeholder="Adresa">
        </mat-form-field>

        <mat-form-field class="example-container">
          <input type="password" matInput formControlName="password" placeholder="Lozinka" required>
          <mat-error *ngIf="f.password.invalid">
            <mat-error *ngIf="f.password.touched && f.password.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.password.touched && f.password.errors.minlength">
              {{ validation.minLengthMessage}} {{validation.passwordMinLength}}
            </mat-error>
            <mat-error *ngIf="f.password.touched && f.password.errors.pattern">
              {{ validation.passwordPattern}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-container">
          <input type="email" matInput formControlName="email" placeholder="E-mail" required>
          <mat-error *ngIf="f.email.invalid">
            <mat-error *ngIf="f.email.touched && f.email.errors.required">
              {{ validation.required}}
            </mat-error>
            <mat-error *ngIf="f.email.touched && f.email.errors.pattern">
              {{ validation.emailPattern}}
            </mat-error>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-container">
          <input type="tel" matInput formControlName="phoneNumber" placeholder="Telephone">
          <span matPrefix>+385 &nbsp;</span>
        </mat-form-field>


        <div class="example-container">
          <button mat-button type="submit" color="primary"><span style="font-weight: bold;">DODAJ</span>
          </button>
        </div>
      </form>
      <div *ngIf="errorMessages.length > 0" class="mat-error" role="alert">
        <span *ngFor="let error of errorMessages">{{error}}</span>
      </div>
    </div>
  </div>
</div>
